.footer-mailing__name{
    display: flex;
    margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
  }
  